.todo-container {
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
}
.todo-input-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.todo-input-item {
    margin: 0 5px;
}
.todo-input-button-container {
    height: 54px;
    display: flex;
    align-items: flex-end;
}
li {
    list-style: none;
}